.flexi{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(194, 51, 51);
    font-size:150%;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    
}
.text{
    padding: 0;
    margin: 0;
}
